<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>
        <%= subject %>
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            padding: 20px;
        }

        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="container">
        <%- body %>
        <div>
            Github Profile: <a href="https://github.com/Nikhil2609/Common_React_UI">Click here</a>
        </div>
    </div>
</body>

</html>